.spider.components.table table{
    border: 2px solid #d5d5f7;
    border-collapse: collapse;
    margin: 10px 20px;
    width: 95%
    
}

.spider.components.table td, .spider.components.table th{
    border: 1px solid white;
    padding: 3px 6px;
}

.spider.components.table th{
    text-align: left;
    background-color: #ececf6;
    padding: 10px;
}
.spider.components.table th a, .spider.components.table th{
    color: #6172c3;
    text-decoration: none;
}
.spider.components.table th a {
    border-bottom: 1px dotted #6172c3;
}

.spider.components.table td a {
    border-bottom: 1px dotted blue;
    color: blue;
    text-decoration: none;
}
.spider.components.table th a:hover {
    color: #adc4f0;
}

.spider.components.table table td ul{
    margin: 0px 20px;
    padding: 0;
    line-height: 1em;
}

.spider.components.table tr.odd:hover td, .spider.components.table tr.even:hover td, .spider.components.table td a:hover {
    background-color: #adc4f0;
    color: white;
}
.spider.components.table tr.even{
    background-color: #ececf6;
}
.spider.components.table tr.odd{
    background-color: #fafafb;
}


.spider.components.table .paginator{
    text-align: center;
    margin-top: 6px;
    margin-left: 6px;
    background-color: white;
    font-size: 75%;
    color: #666699;
}

.spider.components.table .paginator a{
    margin-left: 10px;
    margin-right: 10px;
}
