.spider.forms.form .fields{
    border:2px solid #D5D5F7;
    background: #ececf6;
    padding: 10px;
    margin: 20px;
}

.spider.forms.form label{
    display: block;
    float: left;
    width: 8em;
}

.spider.forms.form .row{
    clear: both;
    margin-top: 5px;
}

.spider.forms.form .buttons{
    clear: both;
    text-align: right;
}
.spider.forms.form .buttons input {
	background-color:#1188C1;
	border-color: #d1d8e5;
	border-style:solid none none;
	border-width:1px medium medium;
	color:white;
	cursor:pointer;
	font-weight:bold;
	outline-color:#333333;
	outline-style:solid;
	outline-width:1px;
	padding:4px;
	margin-right: 20px;
}

.spider.forms.form .input{
    float: left;
    margin-bottom: 5px;
}

.spider.forms.form .input .notice{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: .9em;
}
