.spider.components.crud .top{
    padding: 5px 25px;
    margin-bottom: 10px;
    background: #417690;
}

.spider.components.crud .flash{
    background-color: #FFFFCC;
    color: gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-left: 10px;
    margin-bottom: 10px;
}

.spider.components.crud .top a {
    text-decoration: none;
    font-size: 85%;
    color: white;
}

.spider.components.crud .top a:hover {
    background-color: #8EA5B3;
}

.spider.components.crud .add {
    background: url('img/add.gif') no-repeat 0px 50%;
    padding-left: 40px;
}
.spider.components.crud .top .back {
    background: url('img/back.gif') no-repeat 0px 50%;
    padding-left: 30px;
}

.spider.components.crud .crud-actions{
    overflow: hidden;
    margin: 10px 0 5px 0;
}

.spider.components.crud .table_search{
    margin-right: 10px;
    float: left;
}

.spider.components.crud .add-item{
    float: left;
    padding-top: 5px;
    margin-left: 40px;
}


.crud_table_actions{
    text-align: right;
    padding: 10px 20px 0px 0px;
}

.wdgt-Spider-Components-Crud  .wdgt-Spider-Components-Confirm ul{
    margin-left: 20px;
}