.spider.forms.form .errors{
    margin: 0px 15px;
    padding: 10px;
    border: 1px solid #D9766F;
}

.spider.forms.form .errors ul{
    margin-left: 15px;
    list-style-position:outside;
}



.spider.forms.form .fields{
    padding: 10px;
    margin: 20px;
}

.spider.forms.form label{
	position: relative;
    display: block;
    float: left;
    width: 8em;
}

.spider.forms.form label .form_required_symbol{
	position: absolute;
	right: 8px;
}

.spider.forms.form .control-group.error label{
}

.spider.forms.form .control-group.error input{
    background-color: #FF9999;
}

.spider.forms.form .control-group{
    clear: both;
    overflow: hidden;
    margin-top: 5px;
}

.spider.forms.form .buttons{
    clear: both;
    text-align: right;
}
.spider.forms.form .buttons input {
	padding:4px;
	margin-right: 20px;
}

.spider.forms.form .controls{
    float: left;
    margin-bottom: 5px;
}

.spider.forms.form .controls .notice{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: .9em;
}

.spider.forms.form .sub_links{
    margin: 20px;
    border: 2px solid #D5D5F7;
}

.spider.forms.form .sub_links h4{
    background-color: #F2F2F2;
    margin-bottom: 8px;
    padding: 3px 8px;
}



.spider.forms.form .sub_links ul{
    margin: 10px 15px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

.spider.forms.form .sub_element_crud{
    margin: 15px;
}

.spider.forms.form .sub_element_title{
    font-weight: normal;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #F2F2F2;
}

.bsmSelectTitle{
    color: #999999;
}

.spider.forms.form .bsmContainer{
    float: left;
}

.spider.forms.form .bsmListItem{
    padding-right: 2em;
}