
.spider.components.switcher .menu{
    float: left;
    margin-right: 15px;
    font-family:"Lucida Grande",Verdana,Arial,sans-serif;
    font-weight: bold;
    font-size: .8em;
}


.spider.components.switcher .content{
    padding-right: 20px;
}
