/* line 33, ../../sass/grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 20, ../../sass/grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 24, ../../sass/grid.scss */
body:after {
  clear: both;
}

/* line 42, icons/*.png */
.icons-sprite, .icons-logout, #header #admin_controls .logout_link {
  background: url('../../img/icons-s8b18557db6.png') no-repeat;
}

/* line 60, ../../../../../../../../../../Users/user1/.rbenv/versions/1.8.7-p358/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logout, #header #admin_controls .logout_link {
  background-position: 0 0;
}

/* line 14, ../../sass/admin.scss */
#admin form.form-horizontal .help-block {
  max-width: 550px;
}
/* line 22, ../../sass/admin.scss */
#admin form.form-horizontal input[type="text"],
#admin form.form-horizontal textarea,
#admin form.form-horizontal select,
#admin form.form-horizontal .uneditable-input {
  width: 300px;
}
/* line 26, ../../sass/admin.scss */
#admin form.form-horizontal select {
  width: 310px;
}
/* line 30, ../../sass/admin.scss */
#admin form.form-horizontal input.btn {
  width: auto;
}
/* line 34, ../../sass/admin.scss */
#admin form.form-horizontal .form-actions {
  padding-left: 250px;
}

/* line 44, ../../sass/admin.scss */
#header {
  padding-bottom: 10px;
  background: url('../../img/css/header_bg.png?1342865158') repeat-x scroll center top;
  background-color: #417690;
  position: relative;
  border-bottom: 2px solid #555555;
}
/* line 51, ../../sass/admin.scss */
#header #header_top {
  overflow: hidden;
  *zoom: 1;
}
/* line 55, ../../sass/admin.scss */
#header h1 {
  font-size: 27px;
  color: #444444;
}
/* line 60, ../../sass/admin.scss */
#header #main_title {
  float: left;
  margin-top: 8px;
  margin-left: 40px;
}
/* line 65, ../../sass/admin.scss */
#header #main_title h1 {
  margin-bottom: 8px;
}
/* line 69, ../../sass/admin.scss */
#header #admin_controls {
  font-size: .95em;
  float: right;
  margin-top: 12px;
  margin-right: 30px;
  color: white;
}
/* line 76, ../../sass/admin.scss */
#header #admin_controls a {
  color: white;
}
/* line 80, ../../sass/admin.scss */
#header #admin_controls .welcome {
  margin-right: 6px;
}
/* line 84, ../../sass/admin.scss */
#header #admin_controls .logout_link {
  background-position: right;
  padding-right: 25px;
  margin-left: 6px;
}
/* line 93, ../../sass/admin.scss */
#header #app_buttons {
  height: 68px;
  min-width: 200px;
  margin-left: 60px;
  background-color: #f4f5f6;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  overflow: hidden;
  *zoom: 1;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 104, ../../sass/admin.scss */
#header #app_buttons a {
  color: #222222;
}
/* line 108, ../../sass/admin.scss */
#header #app_buttons div {
  min-width: 55px;
  padding: 2px;
  height: 55px;
  margin: 5px;
  border: 1px solid #BBBBBB;
  text-align: center;
  float: left;
  background-color: #EEEEEE;
}
/* line 118, ../../sass/admin.scss */
#header #app_buttons div img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 125, ../../sass/admin.scss */
#header #app_buttons div span.name {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  display: block;
  font-size: 0.8em;
}
/* line 132, ../../sass/admin.scss */
#header #app_buttons a.active div {
  border: 1px solid #DDDD00;
}
/* line 134, ../../sass/admin.scss */
#header #app_buttons a.active div img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 137, ../../sass/admin.scss */
#header #app_buttons a.active div span.name {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 145, ../../sass/admin.scss */
#admin-switcher-menu .section_title {
  font-size: 14px;
  line-height: 36px;
}

/* line 155, ../../sass/admin.scss */
#spider-admin .container-fluid .content {
  background-color: white;
}

/* line 162, ../../sass/admin.scss */
#container, .spider-admin-container {
  background: url('../../img/css/side_bg.png?1342865158') repeat-y;
  position: relative;
  min-width: 940px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #CCCCCC;
  min-height: 500px;
  overflow: hidden;
  *zoom: 1;
}
/* line 172, ../../sass/admin.scss */
#container #sidebar, #container > .spider-admin-sidebar, .spider-admin-container #sidebar, .spider-admin-container > .spider-admin-sidebar {
  position: absolute;
  top: 0;
  left: 20px;
  width: 220px;
  padding: 20px 10px;
}
/* line 179, ../../sass/admin.scss */
#container #sidebar li.active a, #container > .spider-admin-sidebar li.active a, .spider-admin-container #sidebar li.active a, .spider-admin-container > .spider-admin-sidebar li.active a {
  text-decoration: underline;
}
/* line 183, ../../sass/admin.scss */
#container #sidebar li, #container > .spider-admin-sidebar li, .spider-admin-container #sidebar li, .spider-admin-container > .spider-admin-sidebar li {
  margin-bottom: 1px;
}
/* line 188, ../../sass/admin.scss */
#container #content, #container > .spider-admin-content, .spider-admin-container #content, .spider-admin-container > .spider-admin-content {
  margin-left: 240px;
}

/* line 193, ../../sass/admin.scss */
.crud .table {
  width: auto;
  min-width: 400px;
}

@media screen and (max-width: 500px) {
  /* line 202, ../../sass/admin.scss */
  #header #main_title {
    font-size: 10px;
  }
}
