<label for="{ @inputs[<%=@attributes['element']%>].full_id }">
    { @inputs[<%=@attributes['element']%>].label }
    <em class="form_required_symbol" sp:if="<%=@attributes['required']%>">*</em>
</label>