.spider.components.menu .menu{
    float: left;
    margin-right: 30px;
}

.spider.components.menu .menu ul{
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 20px;
}

.spider.components.menu .menu li.active{
    font-weight: bold;
}

.spider.components.menu .content{
    float: left;
}