/* @override http://localhost:8989/cms/public/css/login.css */

body{
    background-color: #C5C5C5;
}

#content{
    text-align: center;
}

.login-page{
    margin: 10px auto;
    padding: 10px 10px 20px 10px;
    background-color: #ebebeb;
    overflow: hidden;
    width: 20em;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

h3{
    background-color: #d0cede;
    padding: 5px 0;
    color: #535353;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

form{
    width: 10em;
    display: block;
    margin: auto;
}

form .row{
    text-align: left;
    margin-bottom: 15px;
}

form .row label{
    text-align: left;
    display: block;
    color: #6a6a6a;
}

#login, #password{
    width: 15em;
    
}