*{
    margin: 0;
    padding: 0;
}


.spider.components.admin{
    font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: .9em;
    margin-bottom: 10px;
}

.spider.components.admin .heading{
   background-color: #417690;
   padding: 8px 0px 5px 12px;
   position: relative;
}

.spider.components.admin .heading h1{
    color: #F4F379;
    font-size: 18px;
}

.spider.components.admin .heading a{
    color: white;
    text-decoration: none;
}

.spider.components.admin .heading .tools{
    position: absolute;
    padding: 6px 10px;
    right: 0;
    top: 0;
    text-align: right;
    color: #FFFFCC;
}

.spider.components.admin .current_section{
    padding: 4px 0px 3px 25px;
    font-size: 1.1em;
    background: white url(img/gray_gradient.gif) repeat-x scroll 0 -10px;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
}


